[MASTER]

indent-string='  '

disable=
  line-too-long,
  too-few-public-methods,
  missing-class-docstring,
  missing-module-docstring,
  missing-function-docstring

[BASIC]

module-naming-style=camelCase
function-naming-style=camelCase
variable-naming-style=camelCase
